<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="price.PlatformReferencePriceWarnHistoryMapper">
  <resultMap id="BaseResultMap" type="price.PlatformReferencePriceWarnHistory">
    <result column="id" jdbcType="TINYINT" property="id" />
    <result column="level_id" jdbcType="TINYINT" property="levelId" />
    <result column="sku_id" jdbcType="TINYINT" property="skuId" />
    <result column="product_id" jdbcType="TINYINT" property="productId" />
    <result column="warn_low_price" jdbcType="TINYINT" property="warnLowPrice" />
    <result column="warn_high_price" jdbcType="TINYINT" property="warnHighPrice" />
    <result column="warn_time" jdbcType="TIMESTAMP" property="warnTime" />
    <result column="operator_id" jdbcType="TINYINT" property="operatorId" />
    <result column="version" jdbcType="TINYINT" property="version" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="effect_date" jdbcType="TIMESTAMP" property="effectDate" />
    <result column="min_price" jdbcType="TINYINT" property="minPrice" />
    <result column="max_price" jdbcType="TINYINT" property="maxPrice" />
    <result column="category_id" jdbcType="TINYINT" property="categoryId" />
    <result column="brand_id" jdbcType="TINYINT" property="brandId" />
    <result column="history_creator" jdbcType="TINYINT" property="historyCreator" />
    <result column="history_create_time" jdbcType="TIMESTAMP" property="historyCreateTime" />
    <result column="history_update_time" jdbcType="TIMESTAMP" property="historyUpdateTime" />
    <result column="confirm_low_price" jdbcType="TINYINT" property="confirmLowPrice" />
    <result column="confirm_high_price" jdbcType="TINYINT" property="confirmHighPrice" />
    <result column="approve_history_operator_id" jdbcType="TINYINT" property="approveHistoryOperatorId" />
    <result column="approve_history_create_time" jdbcType="TIMESTAMP" property="approveHistoryCreateTime" />
    <result column="approve_history_price_change" jdbcType="TINYINT" property="approveHistoryPriceChange" />
    <result column="creator" jdbcType="TINYINT" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="price.PlatformReferencePriceWarnHistory">
    insert into t_platform_reference_price_warn_history (id, level_id, sku_id, 
      product_id, warn_low_price, warn_high_price, 
      warn_time, operator_id, version, 
      `status`, effect_date, min_price, 
      max_price, category_id, brand_id, 
      history_creator, history_create_time, history_update_time, 
      confirm_low_price, confirm_high_price, approve_history_operator_id, 
      approve_history_create_time, approve_history_price_change, 
      creator, create_time)
    values (#{id,jdbcType=TINYINT}, #{levelId,jdbcType=TINYINT}, #{skuId,jdbcType=TINYINT}, 
      #{productId,jdbcType=TINYINT}, #{warnLowPrice,jdbcType=TINYINT}, #{warnHighPrice,jdbcType=TINYINT}, 
      #{warnTime,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=TINYINT}, #{version,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{effectDate,jdbcType=TIMESTAMP}, #{minPrice,jdbcType=TINYINT}, 
      #{maxPrice,jdbcType=TINYINT}, #{categoryId,jdbcType=TINYINT}, #{brandId,jdbcType=TINYINT}, 
      #{historyCreator,jdbcType=TINYINT}, #{historyCreateTime,jdbcType=TIMESTAMP}, #{historyUpdateTime,jdbcType=TIMESTAMP}, 
      #{confirmLowPrice,jdbcType=TINYINT}, #{confirmHighPrice,jdbcType=TINYINT}, #{approveHistoryOperatorId,jdbcType=TINYINT}, 
      #{approveHistoryCreateTime,jdbcType=TIMESTAMP}, #{approveHistoryPriceChange,jdbcType=TINYINT}, 
      #{creator,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="price.PlatformReferencePriceWarnHistory">
    insert into t_platform_reference_price_warn_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="levelId != null">
        level_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="warnLowPrice != null">
        warn_low_price,
      </if>
      <if test="warnHighPrice != null">
        warn_high_price,
      </if>
      <if test="warnTime != null">
        warn_time,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="effectDate != null">
        effect_date,
      </if>
      <if test="minPrice != null">
        min_price,
      </if>
      <if test="maxPrice != null">
        max_price,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="historyCreator != null">
        history_creator,
      </if>
      <if test="historyCreateTime != null">
        history_create_time,
      </if>
      <if test="historyUpdateTime != null">
        history_update_time,
      </if>
      <if test="confirmLowPrice != null">
        confirm_low_price,
      </if>
      <if test="confirmHighPrice != null">
        confirm_high_price,
      </if>
      <if test="approveHistoryOperatorId != null">
        approve_history_operator_id,
      </if>
      <if test="approveHistoryCreateTime != null">
        approve_history_create_time,
      </if>
      <if test="approveHistoryPriceChange != null">
        approve_history_price_change,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=TINYINT},
      </if>
      <if test="levelId != null">
        #{levelId,jdbcType=TINYINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=TINYINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=TINYINT},
      </if>
      <if test="warnLowPrice != null">
        #{warnLowPrice,jdbcType=TINYINT},
      </if>
      <if test="warnHighPrice != null">
        #{warnHighPrice,jdbcType=TINYINT},
      </if>
      <if test="warnTime != null">
        #{warnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=TINYINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="effectDate != null">
        #{effectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="minPrice != null">
        #{minPrice,jdbcType=TINYINT},
      </if>
      <if test="maxPrice != null">
        #{maxPrice,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=TINYINT},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=TINYINT},
      </if>
      <if test="historyCreator != null">
        #{historyCreator,jdbcType=TINYINT},
      </if>
      <if test="historyCreateTime != null">
        #{historyCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="historyUpdateTime != null">
        #{historyUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmLowPrice != null">
        #{confirmLowPrice,jdbcType=TINYINT},
      </if>
      <if test="confirmHighPrice != null">
        #{confirmHighPrice,jdbcType=TINYINT},
      </if>
      <if test="approveHistoryOperatorId != null">
        #{approveHistoryOperatorId,jdbcType=TINYINT},
      </if>
      <if test="approveHistoryCreateTime != null">
        #{approveHistoryCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveHistoryPriceChange != null">
        #{approveHistoryPriceChange,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>