<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="price.ReferencePriceMapper">
  <resultMap id="BaseResultMap" type="price.ReferencePrice">
    <result column="id" jdbcType="TINYINT" property="id" />
    <result column="level_id" jdbcType="TINYINT" property="levelId" />
    <result column="sku_id" jdbcType="TINYINT" property="skuId" />
    <result column="product_id" jdbcType="TINYINT" property="productId" />
    <result column="platform_reference_price" jdbcType="DECIMAL" property="platformReferencePrice" />
    <result column="supplier_reference_price" jdbcType="DECIMAL" property="supplierReferencePrice" />
    <result column="recycler_reference_price" jdbcType="DECIMAL" property="recyclerReferencePrice" />
    <result column="data_source" jdbcType="TINYINT" property="dataSource" />
    <result column="price_source_type" jdbcType="TINYINT" property="priceSourceType" />
    <result column="price_source" jdbcType="VARCHAR" property="priceSource" />
    <result column="operate_type" jdbcType="TINYINT" property="operateType" />
    <result column="version" jdbcType="TINYINT" property="version" />
    <result column="operator_id" jdbcType="TINYINT" property="operatorId" />
    <result column="creator" jdbcType="TINYINT" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="price.ReferencePrice">
    insert into t_reference_price (id, level_id, sku_id, 
      product_id, platform_reference_price, supplier_reference_price, 
      recycler_reference_price, data_source, price_source_type, 
      price_source, operate_type, version, 
      operator_id, creator, create_time, 
      update_time)
    values (#{id,jdbcType=TINYINT}, #{levelId,jdbcType=TINYINT}, #{skuId,jdbcType=TINYINT}, 
      #{productId,jdbcType=TINYINT}, #{platformReferencePrice,jdbcType=DECIMAL}, #{supplierReferencePrice,jdbcType=DECIMAL}, 
      #{recyclerReferencePrice,jdbcType=DECIMAL}, #{dataSource,jdbcType=TINYINT}, #{priceSourceType,jdbcType=TINYINT}, 
      #{priceSource,jdbcType=VARCHAR}, #{operateType,jdbcType=TINYINT}, #{version,jdbcType=TINYINT}, 
      #{operatorId,jdbcType=TINYINT}, #{creator,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="price.ReferencePrice">
    insert into t_reference_price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="levelId != null">
        level_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="platformReferencePrice != null">
        platform_reference_price,
      </if>
      <if test="supplierReferencePrice != null">
        supplier_reference_price,
      </if>
      <if test="recyclerReferencePrice != null">
        recycler_reference_price,
      </if>
      <if test="dataSource != null">
        data_source,
      </if>
      <if test="priceSourceType != null">
        price_source_type,
      </if>
      <if test="priceSource != null">
        price_source,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=TINYINT},
      </if>
      <if test="levelId != null">
        #{levelId,jdbcType=TINYINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=TINYINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=TINYINT},
      </if>
      <if test="platformReferencePrice != null">
        #{platformReferencePrice,jdbcType=DECIMAL},
      </if>
      <if test="supplierReferencePrice != null">
        #{supplierReferencePrice,jdbcType=DECIMAL},
      </if>
      <if test="recyclerReferencePrice != null">
        #{recyclerReferencePrice,jdbcType=DECIMAL},
      </if>
      <if test="dataSource != null">
        #{dataSource,jdbcType=TINYINT},
      </if>
      <if test="priceSourceType != null">
        #{priceSourceType,jdbcType=TINYINT},
      </if>
      <if test="priceSource != null">
        #{priceSource,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=TINYINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=TINYINT},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>